@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<h3>Development team: </h3>

<p>
    <strong>
        F83533 Simeon Valeriev Mihailov<br />
        F83345 Veselin Petrov Mitonov <br />
        F83029 Kaloyan Plamenov Mihailov<br />
        F82639 Desislava Petrova Radkova<br />
    </strong>
</p>

<h3>Links that helped during the development of the website: </h3>
<p>
    <br />
    <a href="https://stackoverflow.com/questions/37834732/cannot-insert-duplicate-key-in-object-dbo-feedback" target="_blank">Duplicate Key Fix (Check SQL Identity)</a>
    <br />
    <a href="https://entityframework.net/many-to-many-relationship" target="_blank">Many-to-Many Relationship Code First</a>
    <br />
    <a href="https://www.w3schools.com/html/html_entities.asp" target="_blank">HTML Entities</a>
    <br />
    <a href="https://www.tutorialsteacher.com/mvc/htmlhelper-checkbox-checkboxfor" target="_blank">Checkbox ASP</a>
    <br />
    <a href="https://www.aspforums.net/Threads/154816/Passing-html-CheckBox-value-from-View-to-Controller-using-C-in-ASPNet-MVC/" target="_blank">Checkbox Value From View To Controller</a>
    <br />
    <a href="https://stackoverflow.com/questions/28987105/how-to-get-checkbox-value-from-formcollection" target="_blank">Get Checkbox Value From FormCollection</a>
    <br />
    <a href="https://www.infinetsoft.com/Post/-Solved-The-relationship-model-was-not-loaded-because-the-type-model-is-not-available-The-following-information-may-be-useful-in-resolving-the-previous-error-The-required-property-does-not-exist-on-the-type-model-class/1244#.XP_tWcTVKUk" target="_blank">Fix 'The relationship model was not loaded because the type model is not available' Error</a>
    <br />
    <a href="https://stackoverflow.com/questions/17727386/dropdownlist-in-mvc-4-with-razor" target="_blank">DropdownList MVC</a>
    <br />
    <a href="https://stackoverflow.com/questions/27901175/how-to-get-dropdownlist-selectedvalue-in-controller-in-mvc" target="_blank">Get DropdownList Selected Value</a>
    <br />
    <a href="https://stackoverflow.com/questions/10156659/linq-to-entities-does-not-recognize-the-method-system-string-get-item-system-s" target="_blank">LINQ to Entities Error Fix</a>
    <br />
    <a href="https://stackoverflow.com/questions/7583770/unable-to-update-the-entityset-because-it-has-a-definingquery-and-no-updatefu" target="_blank">Many-to-Many Relationship No Primary Key Fix</a>
    <br />
    <a href="https://stackoverflow.com/questions/35858672/how-to-access-many-to-many-table-via-entity-framework-asp-net" target="_blank">How To Access Many-to-Many Table Via Entity Framework</a>
    <br />
    <a href="https://stackoverflow.com/questions/21518995/the-insert-statement-conflicted-with-the-foreign-key-constraint-error" target="_blank">Conflict With The FOREIGN KEY Fix</a>
    <br />
    <a href="https://www.w3schools.com/tags/tag_img.asp" target="_blank">HTML &lt;img&gt; Tag</a>
    <br />
    <a href="https://forums.asp.net/t/2113260.aspx?Create+Viewbag+property+dynamic" target="_blank">Dynamic ViewBag (ViewData)</a>
    <br />
    <a href="https://stackoverflow.com/questions/5108360/force-image-to-a-specific-size-if-it-is-larger" target="_blank">Force Specific Image Size CSS</a>
    <br />
    <a href="https://stackoverflow.com/questions/6951335/using-string-format-to-show-decimal-up-to-2-places-or-simple-integer" target="_blank">Format Number String</a>
    <br />
    <a href="https://www.w3schools.com/tags/att_input_type_number.asp" target="_blank">Input Area Accept Only Numbers</a>
    <br />
    <a href="https://stackoverflow.com/questions/4019592/can-you-make-a-input-type-text-element-have-a-size-shorter-than-1" target="_blank">Input Area Change Width</a>
    <br />
    <a href="https://stackoverflow.com/questions/14497711/set-viewbag-before-redirect" target="_blank">Set ViewBag Before Redirect (Use TempData)</a>
    <br />
    <a href="https://stackoverflow.com/questions/10076472/check-if-viewdata-is-null-before-setting-dropdownlist-to-it" target="_blank">Check If ViewData Exists</a>
    <br />
    <a href="https://docs.microsoft.com/en-us/dotnet/api/system.string.format?view=netframework-4.8" target="_blank">String Format</a>
    <br />
    <a href="https://stackoverflow.com/questions/20942926/pass-multiple-parameters-in-html-beginform-mvc4-controller-action" target="_blank">Pass Multiple Parameters To Html.BeginForm()</a>
    <br />
    <a href="https://stackoverflow.com/questions/1257482/redirecttoaction-with-parameter" target="_blank">RedirectToAction With Parameter</a>
    <br />
    <a href="https://stackoverflow.com/questions/43021/how-do-you-get-the-index-of-the-current-iteration-of-a-foreach-loop" target="_blank">Get Index Of Current Iteration Of foreach Loop</a>
    <br />
    <a href="https://stackoverflow.com/questions/49934251/how-to-set-background-image-in-mvc5-in-view" target="_blank">Add Image To Project</a>
    <br />
    <a href="https://teamtreehouse.com/community/backgroundimage-opacity" target="_blank">Change Background Image Opacity</a>
    <br />
    <a href="https://stackoverflow.com/questions/402605/create-an-actionlink-with-html-elements-in-the-link-text" target="_blank">Add Footnotes To Words In MVC ActionLink</a>
    <br />
    <a href="https://stackoverflow.com/questions/19795204/c-sharp-splitting-strings-using-string-instead-of-char-as-seperator" target="_blank">Split String Using Another String</a>
    <br />
    <a href="https://stackoverflow.com/questions/2281083/using-more-than-one-condition-in-linqs-where-method" target="_blank">Multiple Conditions In LINQ Where</a>
    <br />
    <a href="https://forums.asp.net/t/1787379.aspx?how+to+disable+an+Html+CheckBoxFor" target="_blank">Disable Html.CheckBox</a>
    <br />
    <a href="https://www.w3schools.com/sql/sql_insert.asp" target="_blank">Automatically Insert Rows Into SQL Database</a>
</p>