@{
    ViewBag.Title = "Contacts";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    NBU IT Team 2016-2020<br />
    Sofia, Bulgaria<br />
    <abbr title="Phone">P:</abbr>
    +359-98052-6399
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>