@{
    ViewBag.Title = "Overview";
}

<br />
<div>
    <center>
        <b style="font-size: 36px;">Welcome</b>
    </center>
</div>
<br />
<div>
    <center>
        <img style="width:250px; height:250px;" src="@Url.Content("~/Design/Logo.png")" typeof="image/*" />
    </center>
</div>
<br />
<div>
    <center>
        <i>
            <b>This project was created in our third year studying Informatics at New Bulgarian University. The goal was to create a fully functional online pizza ordering system.</b>
        </i>
    </center>
</div>
<br />
<div>
    <center>
        <i>
            <b>At the top is the navigation bar from which you can enter different menus and functions. If you are on mobile then you will see a sandwich button instead.</b>
        </i>
    </center>
</div>
<br />
<div>
    <center>
        <i>
            <b>Users which are not logged in are able to view the home page, the pizza selection page, the about page as well as the contacts page.</b>
        </i>
    </center>
</div>
<br />
<div>
    <center>
        <i>
            <b>Logged in users can order any available pizza or they can create their own custom version of each pizza by adding or removing ingredients.</b>
        </i>
    </center>
</div>
<br />
<div>
    <center>
        <i></b>
            <b>Administrators can upload new ingredients, recipes and pizzas. Adding administrators to the service is done manually via the database.</b>
        </i>
    </center>
</div>
<br />
<div>
    <center>
        <i>
            <b>Users' orders are linked to their accounts so even if you exit the site your orders will still be in your Cart the next time you log in.</b>
        </i>
    </center>
</div>