
@{
    ViewBag.Title = "Access Denied";
}

<h2>Access Denied</h2>

<hr />
<div class="container text-success" style="text-align: center;">
    Only admins are allowed to view this page!
</div>
<br />